<h1>Editing shoe model</h1>

<%= render "form", shoe_model: @shoe_model %>

<br>

<div>
  <%= link_to "Show this shoe model", @shoe_model %> |
  <%= link_to "Back to shoe models", shoe_models_path %>
</div>
